@page
@model Valkyrie.Pages.TwitterModel
<div class="card" style="width:auto">
    <div class="card-body">
        <h5 class="card-title">Monitor Hashtags</h5>
        <h6 class="card-subtitle mb-2 text-muted">(Site: https://twitter.com, Rate Limit: https://developer.twitter.com/en/docs/twitter-api/rate-limits)</h6>
        <p class="card-text">Keep an eye on latest tweets that contain hashtags/keywords (space separated) (minitor up to 5 keywords). Chart might be incomplete due to Twitter ratelimit.</p>
        <div class="input-group mb-3">
            @Html.AntiForgeryToken()
            <input type="text" class="form-control" id="UserInput" placeholder="Enter #hash1 keyword #hash2;...
" aria-label="Recipient's username" aria-describedby="basic-addon2" asp-for="UserInput">
            <div class="input-group-append">
                <button class="btn btn-success" type="button" id="btnSend">Submit</button>
                <button class="btn btn-warning" type="button" id="btnStop">Stop Monitoring</button>
            </div>

        </div>
    </div>
</div>
<div class="card" style="width:auto">
    <div class="card-body">
        <h5 class="card-title">Latest tweets</h5>
        <div class="list-group overflow-auto" style="max-height:800px;" id="tweetsGroup">
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>

</div>
 
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <canvas id="lineChart"></canvas>
        </div>
        <div class="col-6 col-md-4 border border-warning">

            <div class="cardTwitter hovercardTwitter">
                <div class="cardTwitterheader">

                </div>
                <div class="avatar">
                    <img alt="" id="avatar" src="https://pbs.twimg.com/profile_images/1168826150757588992/XkDv4yj2_400x400.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="https://twitter.com/S0ufi4n3" id="twitterUserName">Soufiane Tahiri</a>
                    </div>
                    <div class="desc" id="twitterDescription">Passionate designer</div>
                    <div class="desc" id="twitterCreationDate">Curious developer</div>
                    <div class="desc" id="twitterLocationtwitterLocation"><i class='fa fa-map-marker'></i>Tech geek</div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>

    .cardTwitter {
        padding-top: 20px;
        margin: 10px 0 20px 0;
        background-color: rgba(214, 224, 226, 0.2);
        border-top-width: 0;
        border-bottom-width: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .cardTwitter .cardTwitter-heading {
            padding: 0 20px;
            margin: 0;
        }

            .cardTwitter .cardTwitter-heading.simple {
                font-size: 20px;
                font-weight: 300;
                color: #777;
                border-bottom: 1px solid #e5e5e5;
            }

            .cardTwitter .cardTwitter-heading.image img {
                display: inline-block;
                width: 46px;
                height: 46px;
                margin-right: 15px;
                vertical-align: top;
                border: 0;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .cardTwitter .cardTwitter-heading.image .cardTwitter-heading-header {
                display: inline-block;
                vertical-align: top;
            }

                .cardTwitter .cardTwitter-heading.image .cardTwitter-heading-header h3 {
                    margin: 0;
                    font-size: 14px;
                    line-height: 16px;
                    color: #262626;
                }

                .cardTwitter .cardTwitter-heading.image .cardTwitter-heading-header span {
                    font-size: 12px;
                    color: #999999;
                }

        .cardTwitter .cardTwitter-body {
            padding: 0 20px;
            margin-top: 20px;
        }

        .cardTwitter .cardTwitter-media {
            padding: 0 20px;
            margin: 0 -14px;
        }

            .cardTwitter .cardTwitter-media img {
                max-width: 100%;
                max-height: 100%;
            }

        .cardTwitter .cardTwitter-actions {
            min-height: 30px;
            padding: 0 20px 20px 20px;
            margin: 20px 0 0 0;
        }

        .cardTwitter .cardTwitter-comments {
            padding: 20px;
            margin: 0;
            background-color: #f8f8f8;
        }

            .cardTwitter .cardTwitter-comments .comments-collapse-toggle {
                padding: 0;
                margin: 0 20px 12px 20px;
            }

                .cardTwitter .cardTwitter-comments .comments-collapse-toggle a,
                .cardTwitter .cardTwitter-comments .comments-collapse-toggle span {
                    padding-right: 5px;
                    overflow: hidden;
                    font-size: 12px;
                    color: #999;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

    .cardTwitter-comments .media-heading {
        font-size: 13px;
        font-weight: bold;
    }

    .cardTwitter.people {
        position: relative;
        display: inline-block;
        width: 170px;
        height: 300px;
        padding-top: 0;
        margin-left: 20px;
        overflow: hidden;
        vertical-align: top;
    }

        .cardTwitter.people:first-child {
            margin-left: 0;
        }

        .cardTwitter.people .cardTwitter-top {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 170px;
            height: 150px;
            background-color: #ffffff;
        }

            .cardTwitter.people .cardTwitter-top.green {
                background-color: #53a93f;
            }

            .cardTwitter.people .cardTwitter-top.blue {
                background-color: #427fed;
            }

        .cardTwitter.people .cardTwitter-info {
            position: absolute;
            top: 150px;
            display: inline-block;
            width: 100%;
            height: 101px;
            overflow: hidden;
            background: #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .cardTwitter.people .cardTwitter-info .title {
                display: block;
                margin: 8px 14px 0 14px;
                overflow: hidden;
                font-size: 16px;
                font-weight: bold;
                line-height: 18px;
                color: #404040;
            }

            .cardTwitter.people .cardTwitter-info .desc {
                display: block;
                margin: 8px 14px 0 14px;
                overflow: hidden;
                font-size: 12px;
                line-height: 16px;
                color: #737373;
                text-overflow: ellipsis;
            }

        .cardTwitter.people .cardTwitter-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            padding: 10px 20px;
            line-height: 29px;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .cardTwitter.hovercardTwitter {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);
    }

        .cardTwitter.hovercardTwitter .cardTwitterheader { background: url("https://pbs.twimg.com/profile_banners/353549736/1426158105/1500x500"); background-size: cover; height: 135px; }

        .cardTwitter.hovercardTwitter .avatar {
            position: relative;
            top: -50px;
            margin-bottom: -50px;
        }

            .cardTwitter.hovercardTwitter .avatar img {
                width: 100px;
                height: 100px;
                max-width: 100px;
                max-height: 100px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 5px solid rgba(255,255,255,0.5);
            }

        .cardTwitter.hovercardTwitter .info {
            padding: 4px 8px 10px;
        }

            .cardTwitter.hovercardTwitter .info .title {
                margin-bottom: 4px;
                font-size: 24px;
                line-height: 1;
                color: #262626;
                vertical-align: middle;
            }

            .cardTwitter.hovercardTwitter .info .desc {
                overflow: hidden;
                font-size: 12px;
                line-height: 20px;
                color: #737373;
                text-overflow: ellipsis;
            }
  
</style>
<script src="~/lib/Chart.js/Chart.js"></script>
<script>
    $(document).ready(function () {
        $("#loader").attr('style', 'display:none!important');
        $("#btnStop").attr('style', 'display:none!important');

        document.getElementById("btnSend").addEventListener("click", function (event) {
            var hashtags = document.getElementById("UserInput").value;
            $("#loader").attr('style', 'display:flex');
            $("#btnStop").attr('style', 'display:block');
            $.ajax({
                async: true,
                cache: false,
                url: "/Twitter?handler=ChartData",
                data: {
                    hashtags: hashtags
                },
                success: function (response) {
                    console.log(response);
                    eval(response);
                    $("#loader").attr('style', 'display:none!important');
                }
            });
        });
    });
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Twitter.js"></script>
@*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>*@

